.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}
.ul{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
li{
    margin-top: 10px;
    margin-left: 40px;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    color: black;
}
li:hover{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transform: scale(1);
    transition: all 1s ease;
}
.link{
    text-decoration: none;
}
@media (max-width:576){
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 10px;
    }
}
